* {
    font-family: arial;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.navbar {
    background-color: #333;
    height: 50px;
    display: flex;
    justify-content: space-around;
}

.navbar h1 {
    color: #fff;
    margin: auto 0;
}

.navbar h1:hover {
    color: #E84545;
    cursor: pointer;
    border: 1px solid #000000;
}

nav {
    margin: auto 0;

}

ul {
    list-style-type: none;
    overflow: hidden;
}


ul li {
    float: left;
}

ul li a {
    text-decoration: none;
    color: white;
    display: block;
    text-align: center;
    padding: 14px 20px;
}

li a:hover {
    background-color: #111;
    border-radius: 5px;
    border: 1px solid #E84545;
}

#search-icon {
    margin: auto 0;

}

#search-bar {
    margin: auto 0;
}

i {
    color: #fff;
    margin: auto 0;
}

i:hover {
    color: #E84545;
    cursor: pointer;
}

#search-bar {
    border: none;
    margin-right: 10px;
    padding: 5px;
    border-radius: 5px;
}

.slider {
    background-image: url("Assets/img/img1.jpg");
    height: 650px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

.slider_text {
    position: absolute;
    text-align: center;
    color: #fff;
    top: 30%;
    left: 50%;
    transform: translate(-50%, 0%);
    width: 50%;
}

.slider_text h1 {
    font-size: 3rem;
}