

body {
    background-color: #111;
    font-family: arial;
  }

/* body, html {
    display: grid;
    place-items: center;
    height: 100%;
    width: 100%;
} */
  
  .main {
    position: relative;
    background-color: #fff;
    padding: 30px;
    width: 550px;
  }
  
  .images {
    background-image: url("https://www.enjpg.com/img/2020/naruto-4k-25.jpg");
    width: 200px;
    height: 200px;
    border-radius: 50%;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    margin: 0 auto;
  }
  
  .images {
    margin-top: 40px;
  }
  
  .content {
    line-height: .9;
    margin: 50px 0 0 0;
  }
  
  .content p {
    text-align: center;
  }

.wrapper {
    display: flex;
    margin-top: 80px;
}

.wrapper .icon {
    margin: 0 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: relative;
    cursor: pointer;
    z-index: 2;

}

.wrapper .icon span {
  background-color: #111;
  color: #fff;
  height: 60px;
  width: 60px;
  display: block;
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  text-align: center;
}

.wrapper .icon span i {
  font-size: 25px;
  line-height: 60px;
}

.wrapper .icon .tooltip {
  background-color: #111;
  color: #fff;
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
  font-size: 20px;
  border-radius: 25px;
  padding: 5px 7px;
  position: absolute;
  top: -50px;
}